.wrap {
    padding-top: 70px;
    background: url(/images/NeonWall.webp)no-repeat center center/cover;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}

.gradient {
    background: radial-gradient(rgba(0, 0, 0, 0.7));
}


.intro {
    font-family: "Oxanium", sans-serif;
    font-size: 2rem;
    padding: 50px 20px 0 20px;
}

.intro strong {
    font-size: 2.3rem;
    font-optical-sizing: auto;
    font-weight: 800;
    text-shadow: 0 0 2px var(--white), 0 0 10px rgba(160, 32, 240, .7), 0 0 22px rgba(160, 32, 240, .55);
}

.introP2 {
    margin: 0;
}

.servizi h3 {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.eventi h3,
.aziende h3,
.cerimonie h3,
.food h3,
.montaggio h3 {
    padding: 20px;
    margin: 0;
}

.eventi h4,
.aziende h4,
.cerimonie h4,
.food h4,
.montaggio h4 {
    padding: 0 20px;
    margin: 0;
}

.eventi p,
.aziende p,
.cerimonie p,
.food p,
.montaggio p {
    padding: 20px;
    margin: 0;
}

.eventi {
    background: url(/images/eventi.webp)no-repeat center center/cover;
}

.eventi h3 {
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    width: 80%;
}

h3 strong {
    font-size: 2.2rem;
    font-weight: 800;
    text-shadow: 0 0 2px var(--white), 0 0 10px rgba(160, 32, 240, .7), 0 0 22px rgba(160, 32, 240, .55);
}

.eventi h4 {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
}

.eventi h4 strong {
    font-size: 1.6rem;
    color: rgb(159 157 27);
    text-shadow: 0 0 20px #002ec4, 0 0 10px rgb(7 0 144 / 70%), 0 0 22px rgb(0 27 188 / 55%);
}

.eventip {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.eventip1 {
    text-align: right;
}

.eventip2 {
    text-align: left;
}

.eventip3 {
    padding-left: 50px !important;
    padding-right: 50px !important;
    text-align: center;
}

.eventi h5 {
    font-size: 1.2rem;
    padding: 50px 0;
    margin: 0;
    font-weight: 200;
}

.aziende {
    background: url(/images/azienda.webp)no-repeat center center/cover;
    contain: content;
}

.aziende h3 {
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.aziende h5 {
    padding: 20px;
    margin: 0;
}

.cerimonie {
    background: url(/images/sfondo.jpg)no-repeat center center/cover;
}

.food {
    background: url(/images/introimg6.webp)no-repeat center center/cover;
}

.montaggio {
    background: url(/images/montaggio.webp)no-repeat center center/cover;
}